.env
*.env
.env.*
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
.idea/
.DS_Store
data/flask_session/
app/data/flask_session/
logs/*.log
.vscode/
# Database files
*.db

# JSON files (except specific ones)
*.json
!data/static/task_examples.json
!data/static/ascii_emoji.json
